scratch
figs
__pycache__
*.pyc
.DS_Store
.vscode
.ipynb_checkpoints
.env
mimicgen_lerobot_debug_0124
egodex/ACKNOWLEDGEMENTS
egodex/CODE_OF_CONDUCT.md
egodex/CONTRIBUTING.md
egodex/LICENSE
agentview_image shape_demo7_frame100.png
lerobot_hocap_subset
Robomind2.0